.panel-characteristic {
	border: 2px solid;
	border-bottom-left-radius: 20px;
	/*background-color: black;*/
}

.panel-specialization>.panel-heading {
	text-align:center
}

.panel-characteristic>.panel-heading {
	border-bottom-left-radius: 20px;
	font-size: 15px;
	color: white;
}

.panel-brawn>.panel-heading, .brawn {
	background-color: #8b2d2d;

}

.panel-agility>.panel-heading, .agility{
	background-color: #bd6a02;

}

.panel-intellect>.panel-heading, .intellect {
	background-color: #b99d08;

}

.panel-cunning>.panel-heading, .cunning {
	background-color: #406244;

}

.panel-willpower>.panel-heading, .willpower {
	background-color: #2d488a;

}

.panel-presence>.panel-heading, .presence {
	background-color: #5e3e8a;

}

.panel-characteristic>.panel-body {
	text-align: center;
	font-size: 30px;
}

.label {
	width: 100px;
}

.badge-md {
	font-size: medium;
}

.Skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.Skills__skill {
	margin: 5px;
	padding: 10px;
	width: 25%;
}

.btn-nav {
margin-top: 50px;
}





